
/*.brand-image{
	height: 140px;
}*/

li > a{
	color: white;
}
.navbar-mystyle{
	background-color: #3b5887;
	margin-bottom: 5px;
}

.navbar-mystyle .navbar-nav > li > a:hover,
.navbar-mystyle .navbar-nav > li > a:focus {
	color: #6495ed;
	background-color: transparent;
}

.navbar-mystyle .navbar-nav > .active > a,
.navbar-mystyle .navbar-nav > .active > a:hover,
.navbar-mystyle .navbar-nav > .active > a:focus{
	color: #6495ed;
	background-color: #7f5c05;
}
.navbar-mystyle .navbar-toggle {
  border-color: #3f7990;
}
.navbar-mystyle .navbar-toggle:hover,
.navbar-mystyle .navbar-toggle:focus{
	color: #3b5887;
	background-color: #191970;
}
.navbar-mystyle .navbar-toggle > .icon-bar {
	background-color: #3f7990;
}
.navbar-mystyle .navbar-nav > .open > a,
.navbar-mystyle .navbar-nav > .open > a:hover,
.navbar-mystyle .navbar-nav > .open > a:focus{
	color: #6495ed;
	background-color: #7f5c05;
}
.full-content{
	padding: 0px;
}
.myheader{
	font-family: 'Black Ops One', cursive;
	font-size: 70px;
	margin-bottom: 0;
}
.myheader4 {
	font-family: 'Lobster', cursive;
	margin-top: 5px;
	margin-bottom: 0;
}
.nopadding {
	padding: 0px;

}
hr {
	width: 100%;
	color: black;
	height: 0px;
	size: 10px;
}

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    /*padding: 20px; */
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}
#navbar-Main {
	&.affixed-top {
		background-color: blue;
	}
	&.affix {
		background:yellow;
		top: 0;
		left: 0;
		right: 0;
	}
}
h3 {
	margin: 0 0 5px 0;
	text-align: center;

}
.mycontent {
	font-family: 'Bitter', serif;
	
}
/*
font-family: 'Lobster', cursive;
font-family: 'Black Ops One', cursive;
font-family: 'Bitter', serif;
*/
